# based on the node gitignore file from github/gitignore
# see: https://github.com/github/gitignore/blob/main/Node.gitignore
# learn more: https://git-scm.com/docs/gitignore

# build
build
dist
out

# caches
.cache
.eslintcache
.node_repl_history

# dependencies
node_modules
.pnp
.pnp.js

# environment
.env
.env*.local

# logs
logs
*.log
*-debug.log*
*-error.log*

# runtime
pids
*.pid
*.seed
*.pid.lock

# testing
coverage

# miscellaneous
.temp
.DS_Store
*.tgz
*.pem

# addons
# see: https://nodejs.org/api/addons.html
build/Release

# reports
# see: https://nodejs.org/api/report.html
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# plasmo
.plasmo

# typescript
*.tsbuildinfo
